.wraper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  padding: 8px;

  & .item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
    font-family: courier;
    list-style-type: none;

    & .change {
      display: flex;
      justify-content: space-between;
      padding: 15px;
      text-transform: capitalize;
      border-bottom: 1px solid rgb(184, 184, 184);

      & .checkbox {
        display: flex;
        gap: 5px;
      }
      & p {
        /* background-color: green; */
      }
    }

    & .data {
      padding-top: 15px;
      display: flex;
      justify-content: center;
      align-items: start;
      column-gap: 10px;
      position: relative;
      overflow: hidden;

      & .image {
        & img {
          width: 120px;
        }
      }

      & .text {
        text-transform: capitalize;

        & .total {
          padding-top: 5px;
        }

        & .quantity {
          padding-top: 15px;
          display: flex;
          align-items: center;
          gap: 5px;

          & input {
            font-size: 13px;
            text-align: center;
            width: 60px;
            height: 30px;
            border: 1px solid var(--bold-color);
          }

          & .count {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            & p {
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              height: 25px;
              cursor: pointer;
              background-color: var(--orange-color);
            }
          }
        }
      }

      & .delete {
        width: 120px;
        height: 23px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        transform: translateY(-170%);
        transition-duration: 200ms;

        &.translate {
          transform: translateY(0);
        }

        &:hover {
          cursor: pointer;
          background-color: rgb(224, 81, 81);
        }
      }
    }
  }
}
