.title {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
  font-family: sans-serif;
  color: var(--gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-all);

  & .filter,
  & .sort {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 13px;

    & span {
      display: flex;
      align-items: center;
    }
  }

  & .option {
    position: absolute;
    right: 0;
    top: 100%;

    & select {
      width: 200px;
      background-color: gray;
      text-transform: capitalize;
      color: white;

      & option {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .title {
    position: relative;
    text-transform: capitalize;
    font-family: sans-serif;
    color: var(--gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-all);

    & .filter,
    & .sort {
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-size: 13px;
    }
  }
}
@media only screen and (min-width: 640px) and (max-width: 768px) {
  .title {
    position: relative;
    text-transform: capitalize;
    font-family: sans-serif;
    color: var(--gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-all);

    & .filter,
    & .sort {
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-size: 13px;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .title {
    position: relative;
    text-transform: capitalize;
    font-family: sans-serif;
    color: var(--gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-all);

    & .filter,
    & .sort {
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-size: 12px;
    }
  }
}
