.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 9999;
  background-color: rgb(34, 34, 34);

  & .header {
    /* flex: 1; */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: gray;
    font-size: var(--heading-size);
    font-family: var(--font-family);
    padding: var(--padding-all);
    letter-spacing: 10px;
  }

  & .wraperList {
    display: flex;
    column-gap: 20px;
    font-family: sans-serif;

    & .wraper {
      /* flex: 1; */
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;

      & .item {
        text-align: center;
        flex-grow: 1;
        color: gray;
        font-size: calc(var(--paragraph-size));
        padding: var(--padding-all);

        & .link {
          text-decoration: none;
          color: inherit;

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }

    & .figure {
      /* flex: 1; */
      display: none;
      color: white;
    }

    & .wraperLogin {
      font-family: sans-serif;
      font-size: calc(var(--paragraph-size));
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;

      & .register,
      & .login {
        background-color: rgb(0, 162, 255);
        cursor: pointer;
        padding: 10px;
        transition-duration: 50ms;

        & .link {
          color: #fdfbee;
          text-decoration: none;
        }

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  & .logout {
    display: flex;
    align-items: center;
    column-gap: 5px;

    & span {
      cursor: pointer;

      &:hover {
        color: rgb(83, 190, 240);
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .nav {
    display: flex;
    justify-content: space-around;

    & .header {
      font-size: calc(var(--heading-size) - 5px);
      letter-spacing: 13px;
    }

    & .wraper {
      & .item {
        flex-grow: 1;
        font-size: calc(var(--paragraph-size));
      }
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-around;

    & .header {
      font-size: calc(var(--heading-size) - 9px);
      letter-spacing: 10px;
    }

    & .wraperList {
      display: flex;
      column-gap: 20px;

      & .wraper {
        width: min(400px, 80vw);
        position: fixed;
        border-radius: 10px;
        background-color: rgb(224, 224, 224);
        top: 75px;
        right: -80vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        transition-duration: 200ms;
        transition-timing-function: ease-in;

        & .item {
          font-size: calc(var(--paragraph-size));
        }

        /* ! CLOSE */
        &.hide {
          right: 0;
        }
      }

      & .figure {
        order: 3;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: var(--padding-all);
      }

      & .wraperLogin {
        order: 2;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .nav {
    display: flex;
    justify-content: space-around;
    position: fixed;

    & .header {
      font-size: calc(var(--heading-size) - 9px);
      letter-spacing: 10px;
    }

    & .wraperList {
      display: flex;
      column-gap: 20px;

      & .wraper {
        width: min(350px, 80vw);
        position: fixed;
        border-radius: 10px;
        background-color: rgb(224, 224, 224);
        top: 75px;
        right: -80vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        transition-duration: 200ms;
        transition-timing-function: ease-in;

        & .item {
          font-size: calc(var(--paragraph-size));
        }

        /* ! CLOSE */
        &.hide {
          right: 0;
        }
      }

      & .figure {
        order: 3;
        /* flex: 1; */
        display: flex;
        justify-content: end;
        align-items: center;
        padding: var(--padding-all);
      }

      & .wraperLogin {
        order: 2;
        font-size: 12px;
      }
    }
  }
}
