.container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;

  & .wraperLeft {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: sans-serif;
    text-transform: capitalize;
    /* background-color: blue; */

    & .wraperImage {
      width: 70%;
      box-shadow: 0 5px 20px black;
      /* background-color: red; */
      padding: 10px;

      & img {
        width: 100%;
      }
    }
  }

  & .wraperRight {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: sans-serif;
      text-transform: capitalize;
      font-size: var(--paragraph-size);
      /* background-color: pink; */

      & .header {
        text-align: end;
        margin-bottom: 20px;

        & .register {
          text-decoration: none;
          color: green;
        }
      }

      & h1,
      & p {
        padding: 10px 0;
      }

      & .wraperInput {
        width: 70%;
        list-style-type: none;

        & .username {
          display: flex;
          column-gap: 5px;
        }

        & li > input {
          width: 100%;
          padding: 10px;
          box-sizing: border-box;
          margin-bottom: 15px;
        }
      }

      & .provider {
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        column-gap: 5px;

        & img {
          width: 30px;

          &:hover {
            transform: scale(0.9);
          }
        }
      }

      & button {
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        width: 70%;
        padding: 10px;
        color: white;
        border: 0;
        box-shadow: 0 5px 10px black;
        background-color: #5fd068;
        text-transform: uppercase;

        &:hover {
          transform: scale(0.99);
        }
      }
    }
  }
}
