.container {
  width: min(1200px, 90vw);
  padding: calc(var(--padding-all) + 20px);
  margin: auto;

  & .wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;

    & .item {
      cursor: pointer;
      list-style-type: none;
      text-align: center;
      color: var(--gray-color);
      text-transform: capitalize;
      transition-duration: 100ms;
      transition-timing-function: ease-in;

      &:hover {
        transform: scale(1.05);
      }

      & .image {
        width: 50px;
      }

      & .caption {
        font-family: sans-serif;
        font-size: calc(var(--paragraph-size) - 2px);
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: min(1200px, 90vw);
    padding: calc(var(--padding-all) + 20px);
    margin: auto;

    & .wraper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;

      & .item {
        cursor: pointer;
        list-style-type: none;
        text-align: center;
        color: var(--gray-color);
        text-transform: capitalize;
        transition-duration: 100ms;
        transition-timing-function: ease-in;

        &:hover {
          transform: scale(1.05);
        }

        & .image {
          width: 40px;
        }

        & .caption {
          font-size: calc(var(--paragraph-size) - 2px);
        }
      }
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
  .container {
    width: min(1200px, 90vw);
    padding: calc(var(--padding-all) + 20px);
    margin: auto;

    & .wraper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 50px;

      & .item {
        cursor: pointer;
        list-style-type: none;
        text-align: center;
        color: var(--gray-color);
        text-transform: capitalize;
        transition-duration: 100ms;
        transition-timing-function: ease-in;

        &:hover {
          transform: scale(1.05);
        }

        & .image {
          width: 40px;
        }

        & .caption {
          font-size: calc(var(--paragraph-size) - 2px);
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .container {
    width: min(1200px, 90vw);
    padding: var(--padding-all);
    margin: auto;

    & .wraper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;

      & .item {
        cursor: pointer;
        list-style-type: none;
        text-align: center;
        color: var(--gray-color);
        text-transform: capitalize;
        transition-duration: 100ms;
        transition-timing-function: ease-in;

        &:hover {
          transform: scale(1.05);
        }

        & .image {
          width: 35px;
        }

        & .caption {
          font-size: calc(var(--paragraph-size) - 3px);
        }
      }
    }
  }
}
