.container {
  width: min(1200px, 90vw);
  margin: auto;
  /* background-color: red; */

  & .wraper {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    & .wraper {
      flex-direction: column;
    }
  }
}
