:root {
  --heading-size: 24px;
  --paragraph-size: 1rem;

  --primary-color: rgb(83, 190, 240);
  --bold-color: rgb(50, 51, 51);
  --orange-color: rgb(241, 82, 34);
  --green-color: rgb(5, 73, 36);
  --gray-color: gray;
  --gap-all: 10px;

  --font-family: "courier";

  --padding-all: 1rem;
  --padding-left: 1rem;
  --padding-right: 1rem;
}

* {
  padding: 0;
  margin: 0;
}
